html, body
{
height: 100%;
color: white;
}

html { 
  background: url(img/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.meme
{
/* max-width: 50%; */
margin: 20px;
border: white 4pt solid;
max-width: 80%;
background-color: black;
padding: 5px;
}

#MEMES{
display: flex;
flex-direction: row;
flex-wrap: wrap;

}

nav{
position: absolute;
left: 0px;
display: flex;
flex-direction: column;
justify-content: space-between;
/* float: left; */
color: white;
font-weight: bold;
height: 175px;
padding: 15px;

}

nav a {
border: black solid 5pt;
background-color: white;
padding: 10px;
margin: 20px;
}

p{
margin-top: 30px;
margin: 30px;
font-size: 20pt;
background-color: rgba(0,0,0,.8);
padding: 20px;
}

#logoholder
{
border: black solid 5pt;
margin-left: 120px;
margin-right: 10px;
margin-bottom: 90px;
margin-top: 10px;
background-color: rgba(256,256,256,.85);
max-width: 70%;
width: 85%;
}

#logo {
margin-left: 20px;
max-width: 75%;
}

ul{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

li{
font-weight: bold;
border: black solid 5pt;
padding: 20px;
margin: 30px;
color: black;
background-color: rgba(256,256,256,.85);
display: block;
width: 200px;
}

video {
max-width: 90%;
background-color: rgb(0,0,0);
border: black solid 5pt;
margin: 20px;
}

audio{
width: 40%;
margin-bottom: 100px;
margin-left: 30px;
}

a:hover{
color: white;
background-color: black;
border: white solid 3pt;
}

h1{
background-color: white;
border: black solid 5pt;
color: black;
margin: 20px;
padding-left: 10px;
}
